body{
    margin:0;
    padding:0;
}
#container{
    display: grid;
    grid-template-areas:
    "menu menu" 
    "sidebar conteudo";
}
#menu{
    background-color: #000;
    grid-area: menu;
    width: 100vw;
    height: 15vh;
    color: white
}
#sidebar{
    background-color: #666;
    grid-area: sidebar;
    height: 90vh;
    width:15vw;
}
#conteudo{
    background-color: #ccc;
    grid-area:conteudo;
    height: 90vh;
    width: 85vw;
}
.nav{
    display: flex;
    text-decoration: none;
     gap: 5%;
}
.nav li{
    list-style: none;
    height: 10vh;
    /* border: 1px solid #fff;  */
}
.nav li:hover{
   background-color: #ccc;
   height: 3vh;
   color:purple;

}

.vertical-menu{
    /* border:2px solid #fff; */
    width: 100%;
    font-family: Arial;
}
.vertical-menu a {
    background-color: #666; 
    color: #fff; 
    display: block; 
    padding: 12px; 
    text-decoration: none; 
  }
.vertical-menu a:hover {
    background-color: #ccc; 
}